@model Hackathon.Web.Models.ContactModel
@{
    ViewBag.Title = "Contact Me";
}

<h2>Contact Me</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="editor-field">
        @Html.LabelFor(model => model.Name, "Name")
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.LabelFor(model => model.Email, "Email")
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.LabelFor(model => model.Phone, "Phone")
        @Html.EditorFor(model => model.Phone)
    </div>
    <div class="editor-field">
        @Html.LabelFor(model => model.Message, "Message")
        @Html.TextAreaFor(model => model.Message)
        @Html.ValidationMessageFor(model => model.Message)
    </div>
    <div>
        @Html.ReCaptcha()
        @if (TempData["ReCaptchaError"] != null)
        {
            <p>@TempData["ReCaptchaError"]</p>
        }
    </div>
    <div class="submit">
        <input type="submit" value="Submit" />
    </div>
}